 <div class="author">
    <h1> Hello world, I am Oluwaseye Oyadiran</h1>
    <p class="author"> Software Engineer and Entrepreneur.</p>
 </div>

 <img src="/img/selfie.png" alt="Selfie" height="350px" width=" 175px" class="hero-image" >
 <section class="articles">
    <h2 class="articles_heading">Latest Posts</h2>
 

</section>
<br>
<br><br><br>

<br><br><br><br>
<br><br>
<br><br><br><br><br>